<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties" />


    <typeAliases>

    </typeAliases>



    <environments default="pgsql">
        <environment id="pgsql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--
            批量注册：
                name：指向dao层的包，表示在该dao包下，所有的mapper映射文件自动注册。
        -->
<!--       <package name="com.xiyuan.dao"/>-->
    </mappers>
</configuration>